[tasks.clean]
command = "cargo"
args = ["clean"]

[tasks.install-targets.linux]
command = "rustup"
args = [
  "target",
  "add",
  "i686-pc-windows-gnu",
  "x86_64-pc-windows-gnu",
  "i686-unknown-linux-gnu",
]

[tasks.install-targets.windows]
command = "rustup"
args = [
  "target",
  "add",
  "i686-pc-windows-msvc",
  "x86_64-pc-windows-msvc",
  "i686-unknown-linux-gnu",
]

[tasks.remove-out.linux]
command = "rm"
args = ["-rf", "out"]

[tasks.remove-out.windows]
script_runner = "powershell"
script_extension = "ps1"
script = '''
Remove-Item -LiteralPath "out" -Force -Recurse -ErrorAction SilentlyContinue
'''

[tasks.build-release-windows-32.windows]
command = "cargo"
args = ["build", "--release", "--target", "i686-pc-windows-msvc"]

[tasks.build-release-windows-64.windows]
command = "cargo"
args = ["build", "--release", "--target", "x86_64-pc-windows-msvc"]

[tasks.build-release-linux-32.windows]
command = "cargo"
args = ["build", "--release", "--target", "i686-unknown-linux-gnu"]

[tasks.build-release-linux-64.windows]
command = "cargo"
args = ["build", "--release", "--target", "x86_64-unknown-linux-gnu"]

[tasks.build-release-windows-32.linux]
command = "cargo"
args = ["build", "--release", "--target", "i686-pc-windows-gnu"]

[tasks.build-release-windows-64.linux]
command = "cargo"
args = ["build", "--release", "--target", "x86_64-pc-windows-gnu"]

[tasks.build-release-linux-32.linux]
command = "cargo"
args = ["build", "--release", "--target", "i686-unknown-linux-gnu"]

[tasks.build-release-linux-64.linux]
command = "cargo"
args = ["build", "--release", "--target", "x86_64-unknown-linux-gnu"]

[tasks.release]
run_task = { name = [
    "build-release-windows-32",
    "build-release-windows-64",
    "build-release-linux-32",
    "build-release-linux-64",
], parallel = true }

[tasks.pack-to-zip.windows]
script_runner = "powershell"
script_extension = "ps1"
script = '''
New-Item -ItemType Directory -Path out -Force -ErrorAction SilentlyContinue
cp target/i686-pc-windows-msvc/release/webtransport.dll out/WebTransportAddIn_x32.dll
cp target/x86_64-pc-windows-msvc/release/webtransport.dll out/WebTransportAddIn_x64.dll
cp target/i686-unknown-linux-gnu/release/libwebtransport.so out/WebTransportAddIn_x32.so
cp target/x86_64-unknown-linux-gnu/release/libwebtransport.so out/WebTransportAddIn_x64.so
cp Manifest.xml out/
Compress-Archive -DestinationPath out/WebTransportAddIn.zip -Path out/WebTransportAddIn_x64.dll, out/WebTransportAddIn_x32.dll, out/WebTransportAddIn_x32.so, out/WebTransportAddIn_x64.so, out/Manifest.xml -Force
Copy-Item -LiteralPath out/WebTransportAddIn.zip -Destination demo/Demo/Templates/Компонента/Ext/Template.bin -Force
'''

[tasks.pack-to-zip.linux]
script = '''
mkdir -p out
cp target/i686-pc-windows-gnu/release/webtransport.dll out/WebTransportAddIn_x32.dll
cp target/x86_64-pc-windows-gnu/release/webtransport.dll out/WebTransportAddIn_x64.dll
cp target/i686-unknown-linux-gnu/release/libwebtransport.so out/WebTransportAddIn_x32.so
cp target/x86_64-unknown-linux-gnu/release/libwebtransport.so out/WebTransportAddIn_x64.so
cp Manifest.xml out/
zip -r -j out/WebTransportAddIn.zip out/WebTransportAddIn_x64.dll out/WebTransportAddIn_x32.dll out/WebTransportAddIn_x32.so out/WebTransportAddIn_x64.so Manifest.xml
cp out/WebTransportAddIn.zip demo/Demo/Templates/Компонента/Ext/Template.bin
'''

[tasks.pack]
dependencies = ["clean", "release", "remove-out", "pack-to-zip"]
